<section class="container">
  <div class="row">
    <div class="col-sm-12 col-xl-3 col-md-6 col-lg-3" id="col1">
      <div id="img">
        <img src="{{article[0].urlToImage}}">
      </div>
      <span><h3>{{article[0].title}}</h3></span>
      <div>
        <p>{{article[0].content}}</p>
      </div>
    </div>
    <div class="col-sm-12 col-xl-3 col-md-6 col-lg-3" id="col2">
      <div id="img">
        <img src="{{article[1].urlToImage}}">
      </div>
      <span><h3>{{article[1].title}}</h3></span>
      <div>
        <p>{{article[1].content}}</p>
      </div>
    </div>
    <div class="col-sm-12 col-xl-3 col-md-6 col-lg-3" id="col3">
      <div id="img">
        <img src="{{article[2].urlToImage}}">
      </div>
      <span><h3>{{article[2].title}}</h3></span>
      <div>
        <p>{{article[2].content}}</p>
      </div> 
    </div>
    <div class="col-sm-12 col-xl-3 col-md-6 col-lg-3" id="col4">
      <div id="img">
        <img src="{{article[3].urlToImage}}">
      </div>
      <span><h3>{{article[3].title}}</h3></span>
      <div>
        <p>{{article[3].content}}</p>
      </div>
    </div>
    
  </div>
</section>