<div class="d-flex" id="wrapper">
  <div class="bg-dark border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class=" list-group list-group-flush">
      <a routerLink="/school-dashboard" >Dashboard</a>
      <a routerLink="/school/profile" >Profile</a>
      <a routerLink="/school/principal-detail" >Principal Detail</a>
      <a routerLink="/school/subscription-page" >Select Plan</a>
      <a routerLink="/school/sch-gallery" >Upload Images</a>
      <a routerLink="/school/upload-video" >Upload Video</a>
      <a routerLink="/account/change-password" >Change Password</a>
      <a routerLink="/school/logout" >Logout</a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
     
      <div class="container-fluid">
        <button class="btn " (click)="clickEvent()">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div  id="navbarSupportedContent">
            <img src="../../../assets/logo.png">
            <h3>School Market</h3>
        </div>
      </div>
    </nav>
      </div>
</div>
