body {
  overflow-x: hidden;
}

#navbar{
  max-width: 100vw;
}
#navbarSupportedContent{
  display: flex;
} 
#navbarSupportedContent img{
  width: 70px;
  height: 70px;
}
#navbarSupportedContent h3{
  margin: 2% 0% 1% 0%;
}

#logout{
  margin-bottom: 70%;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
      

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
      
#sidebar-wrapper .list-group {
  width: 15rem;
}
      
#page-content-wrapper {
  min-width: 100vw;
}
      
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
      
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  a:hover{
  background-color: rgb(99, 99, 235);
  height: 40px;
  padding: 3;
}
  div a{
    color: #fff;
    margin: 10% 0% 0% 15%;
    text-decoration: none;
  }
   #navbarSupportedContent{
    display: flex;
    margin-left: 5%;
  } 
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .show{
    margin-left: 0!important;
  }
  #navbarSupportedContent{
    margin-right: 15%;
    
  }  

  .hide{
    margin-left: -15rem!important;
    }
}
@media (max-width: 767px) {
  .show{
    margin-left: -15rem!important;
  }
  a:hover{
  background-color: rgb(99, 99, 235);
  height: 40px;
  padding: 3;
}
  #navbarSupportedContent{
    margin-right: 5%;
    
  }  
  .hide{
    margin-left: -0!important;
  }
  
  div a{
  color: #fff;
  margin: 10% 0% 0% 5%;
  text-decoration: none;
  }
  #list-group{
    width: 5%;
  }
}

