@media(max-width:500px){
  img{
    width: 10%;
  }
  h3{
    font-size: large;
  }
}

ul li a {
  text-decoration: none;
  color: black;
}

nav{
  position: relative;
  top: 0%;
  width: 100%;
  background-color: tomato;
  color: #fff;
}
#social div{
  margin: 5%;

}

#logo{
  height: 7%;
  width: 20%;
}

#social{
  display:flex;
  flex-direction: row;
  margin-left: 30%;
  
}

#social div span{
  color: #ffffff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 1.8em;
  text-align: center;
  padding-top:10% ;
}
#fb-span{
  background-color: #3b5998;
  padding-top: 10%;
  
}
#in-span{
  background-color: #0e76a8

}

#tw-span{
  background-color:#00acee;
  padding: 5%;


}

#header{
  color: #fff;
  margin: 8% 5% 0% 1%;
}

#nav-info{
  display: flex;
  flex-direction: row;
}
