


<nav  class="navbar navbar-expand-lg navbar-dark bg-gray">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" id="nav-info">
      <img src="../../../assets/logo.png" id="logo">
      <h3 id="header">School Market</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="toggleNavBar()" 
    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" 
      [ngClass]="{'show': navbarOpen}"
      id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
      
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/side-bar">How it Works </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact us</a>
        </li>

        <li>
          <a class="nav-link" routerLink="/account/registration">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account/login" >login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 