<footer>
  <div>
    <h4 id="terms">TERMS AND CONDITIONS</h4>
    <p id="accept">Accepable Use Policy</p>
    <p id="website"> Website Use Policy</p>
    <p id="privacy">Privacy</p>
  </div>
  <div>
    <h4 id="join"> JOIN OUR COMMUNITY</h4>
    <p><a routerLink="/account/registration">Sign Up Your School</a></p>
  </div>
  <div>
    <h4>CONTACT US</h4>
    <p>
  </div>
  <div>
  </div>

</footer>