* {box-sizing: border-box;}
@media(max-width:799px){
  #login-form{
    height: auto;
    background-color: #ffffff;
    margin: auto;
    width: 70%;
    
  }

}
@media(min-width:800px){
  #formdiv{
    margin: 5% 1% 10% 10%;
    display: flex;
    flex-direction: row;
  }
}


button a, #forgot{
  color: #ffffff;
  text-decoration: none;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
[type="submit"] {
  background-color: green;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

#tw-icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color:#00acee ;
  margin: 0% 2% 0% 2%;
  padding: 3%;
  border-radius: 50%; 
}
#socials{
  margin-top: 5%; 
  width: 100%;
  text-align: center;
}

#sign-p{
  margin-left: 45%;
  font-size: 1.1em;
  font-family: cursive;
}
#forgot{
  margin:0% 0% 10% 60%;
  font-size: 1.1em;
  font-family: cursive;
}
#fb-icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color:#3b5998 ;
  margin: 0% 2% 0% 2%;
  border-radius: 50%; 
  padding: 3%;
}
#go-icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color:#ff0000;
  margin: 0% 2% 0% 2%;
  border-radius: 50%; 
  padding: 3%;
}

.value{
  height: 10%;
  width: 70%;
}

#login-form{
  height: auto;
  background-color: #ffffff;
  margin: auto;
  width: 35%;
   
}
h3{
  text-align: center;
  
}
form{
  padding: 10%;
  margin: 10%;
}

#continue{
  text-align: center;
  margin-top: -10%;
}

#login{
  background: linear-gradient(60deg, purple, #c0d0f0, #dd99ee);
  width: 100%;
  height: 100%;
  position: absolute;
}

#signup{
  text-align: center;
  margin-top: 10%;
}