<div class="app-body" >
  <div class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-container">
                    <i class="fa fa-envelope icon"></i>           
                    <input class="input-field" type="email" formControlName="email" placeholder="enter your email address">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                  </div><br>
                  <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input type="password" class="input-field" formControlName="password" placeholder="enter your password">
                  </div><br>
                  <div class="row">
                    <div class="col-6">
                      <input type="submit"  class="btn btn-primary px-4" value="Login">
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" routerLink="/account/forget-password" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3"><a routerLink="/account/registration">Register Now!</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="login-form" class="main d-flex align-items-center" >
    <h3>Login</h3>
    <div class="container" >
      <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>           
          <input class="input-field" type="email" formControlName="email" placeholder="enter your email address">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
        </div><br>
        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input type="password" class="input-field" formControlName="password" placeholder="enter your password">
        </div><br>
        <span id="forgot">
          <a routerLink="/forget_password">forgot password?</a>
        </span>
        <input type="submit" value="Login">
      </form>
    </div>
    <div id="continue"><p>Or continue with</p></div>
    <div id="socials">
      <span id="fb-icon">
        <span class="fa fa-facebook">
        </span>
      </span>
      <span id="tw-icon">
        <span class="fa fa-twitter">
        </span>
      </span>
      <span id="go-icon">
        <span class="fa fa-google">
        </span>
      </span>
    </div>
    <div id="signup">
      <p>Have an account Yet?</p>
      <p>Sign Up</p>
    </div>
  </div>
   
-->