<div class="container">
  <div class="row">
    <span *ngIf="profile" id="title" class="col-md-12 col-lg-12 col-sm-12 col-xl-12 offset-md-2 offset-lg-2 offset-sm-2 offset-xl-2">
      <img [src]=profile.school_badge>
      <h2 >{{profile.school_name}} </h2>
    </span>
  </div>
</div>