@media(max-width:500px){
    #row{
        flex-direction: column-reverse !important;
    }
}
#navs{
    display: flex;
    margin: 5%;
}
#navs p{
    margin: 3% 5% 0% 5%;
    word-spacing: 5%;
    font-size: large;
}
hr{
    border: 10px;
}
a{
     color: #000;
}

img{
    width:200px;
    height: 150px;
}

#content{
    margin-top:5% ;
}


