<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div id="navs">
      <p><a onclick="goBack()">PROFILE</a></p>
      <p><a routerLink=""> GALLERY</a></p>
      <p><a routerLink="school-reviews"> REVIEWS</a></p>
    </div>
  </div>
  
  <div id="row" class="row">
    <div class="col-sm-12 col-lg-7 col-md-7">
      <app-review-list></app-review-list>
    </div>
    <div class="col-sm-12 col-lg-5 col-md-5">
      <app-add-review></app-add-review>
    </div>
  </div>
</div>
<app-my-footer></app-my-footer>   
