<app-my-sidebar></app-my-sidebar>

<div id="container" class="container">
  <div class="row">
    <form #changePswdForm="ngForm" (ngSubmit)="onSubmit(changePswdForm.value)">
      <div class="form-group">
        <label for="old_password">Old Password</label>
        <input type="password" [(ngModel)]="changePswdForm.old_passowrd"
          name="old_password" id="old_password" class="form-control">
      </div>
      <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="password" [(ngModel)]="changePswdForm.new_passowrd"
          name="new_password" id="new_password" class="form-control">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" [(ngModel)]="changePswdForm.confirm_password"
          name="confirm_password" id="confirm_password" class="form-control">
      </div>
      <div class="form-group">
        <input type="submit"  class="btn btn-success" value="Change Password">
      </div>
    </form>
  </div>
</div>