#img-div{
    display: flex;
}
input, label{
        margin: 0% 0% 0% 20%;
    }





@media(max-width:769px){
    form{
        margin: -170% 0% 20% 17% !important; 
        width: 60%;
    }

    
    img{
        height: 200px;
        width: 200px;
    }
}

@media(min-width:770px){
    form{
        margin: -40% 20% 20% 10% !important; 
        width: 60%;
    }

    
    img{
        height: 200px;
        width: 200px;
    }
}

@media(min-width:1000px){
    #container{
        width: 100%;
        margin: -90% 10% 0% 30% !important;
    }
    form{
        width: 60%;
    }

    
    img{
        height: 200px;
        width: 200px;
    }
}
