<!--
  <div class="form-row">
  <div class="form-group col-lg-6 col-sm-12 col-md-6">
-->
<label for="school_badge">School Badge:</label><br>
<input type="file" class="form-control" placeholder="Enter school Motto...."><br>

