



@media(max-width:700px){
    form{
        margin: -180% 0% 20% 17% !important; 
        width: 60%;
    }

    #img-div{
        display: flex;
    }
    input, label{
        margin: 0% 0% 0% 20%;
    }

    
    img{
        height: 200px;
        width: 200px;
    }
}

@media(min-width:701px){
    form{
        margin: -110% 0% 20% 35% !important; 
        width: 55%;
    }

    #img-div{
        display: flex;
    }
    input, label{
        margin: 0% 0% 0% 30%;
    }

    
    img{
        height: 200px;
        width: 200px;
    }
}

@media (min-width:1000px) {
    form{
        margin: -30% 0% 20% 30% !important; 
        width: 60%;
    }

    #img-div{
        display: flex;
    }
    input, label{
        margin: 0% 0% 0% 20%;
    }

    
    img{
        height: 200px;
        width: 200px;
    }
}

