<app-my-sidebar></app-my-sidebar>

<form *ngIf="principalDetailForm" [formGroup]="principalDetailForm" (ngSubmit)="onSubmit()" >
  <span *ngIf="principalData">
    <h3>{{principalData.post_held}} Detail</h3>
  </span>
  <div class="container">
    <div class="row">
      
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div id="img">
          <img [src]="principalData.display_image">
        </div>
        <div class="form-group" id="img-div">         
          <input type="file" id="dp" formControlName="display_image" (change)="onChange($event)">
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" formControlName="principal_name" 
            id="name" class="form-control" placeholder="Principal Full Name">
        </div>
        <div class="form-group">
          <label for="post_heild">Post Held</label> 
          <input type="text" class="form-control"  formControlName="post_held" 
            id="post_heild" placeholder="Post Held(Principal, Head Master...)">
        </div>
        <div class="form-group">
          <label for="phone_number">Phone Number</label> 
          <input type="tel" class="form-control" 
            formControlName="phone_number" id="phone_number" placeholder=" Phone Number">
        </div>
        <div class="form-group">
          <input type="submit" value="send" class="btn btn-success" [disabled]="!principalDetailForm.valid">
        </div>
      </div>
    </div>
  </div>
</form>