@media (max-width:600px) {

    #general{
        margin-top: 5%;
    }
    #gen-row h6{
        text-align: center;
        font-size: 1.2em;
        font-weight: bolder;
        margin: 1% 0% 2% 0%;
    }

    #gen-row p{
        text-align: center;
    }

    h2{
        text-align: center;
    }
}

#title{
    margin: 3% 0% 3% 0%;
    display: flex;
}
#badge img{
    width: 100px;
    height: 100px;
}

#name{
    margin: 1% 0% 0% 2%;
}
#name h2{
    color: rgba(10, 100, 220, 0.4);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#badge span{
    display: flex;
    margin-top: 3%;

}
#endorsed{
    
    color: rgba(200, 100, 100, 0.7);
}
#parents{
    font-weight: bold;
    margin-left: 3px;
}
#motto{
    font-style: italic;
}
#navs{
    display: flex;
    margin: 5%;
}
#navs p{
    margin: 3% 5% 0% 5%;
    word-spacing: 5%;
    font-size: large;
}


hr{
    border: 10px;
}
a{
     color: #000;
}

#principal-detail{
    height: 100%;
    width: 100%;
    //box-shadow: 10px 5px rgba(115, 110, 100, 0.7), 10px 15px 10px rgba(100, 120, 200, 0.4)
}

#p-title{
    padding: 5% 10% 0% 10%;
    font-weight: bolder;
    color: rgba(130, 100, 150, 0.7);
}

#g_info{
    display: flex;
}

#body, #media, #others{
    margin-top:3% ;
}

#gen-row{
    margin-top: 5%;
    word-break: keep-all;
}

#dp img{
    border-radius: 50%;
    margin: 15% 5% 10% 15%;
    width: 150px;
    height: 150px;
}

#data{
    margin: 10%;
}
#data p{
    margin-top: -5%;
}
#address{
    margin: 1% 5% 5% 5%;
    
}
#add {
    margin: 0% 15% 5% 0%;
    line-height: 30px;
}
#advantage-txt{
    line-height: 30px;
    word-break: keep-all;
    word-wrap:inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: inherit;
}

#data h3{
    text-align: center;
}


hr{
   border: 0.5px dotted #000 !important;
}
#awards p{
    padding: 4% 7% 4% 7%;
    line-height: 30px;

}


#sport{
    margin: 3%;
    line-height: 30px;

}

#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#gallery img{
    width: 30%;
    height: 40%;
    margin: 1%;
    display: inline;
    
}
#facilities{
    margin: 3%;
    line-height: 30px;

}