<app-navbar></app-navbar>
<body>
  <div class="container">
    <div class="row">
      <div id="title" class="col-12">
        <div id="badge">
          <img [src]="profile.school_badge">
        </div>
        <div id="name">
          <h3>{{profile.school_name}}</h3>
          <p id="motto"> {{profile.school_motto}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="navs">
        <p><a routerLink="">PROFILE</a></p>
        <p><a routerLink="school-gallery"> GALLERY</a></p>
        <p><a routerLink="school-reviews"> REVIEWS</a></p>
      </div>
      <hr>

    </div>
    <div class="row" id="body">
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <div id="general">
          <div>
            <h3 id="gen-title"> General Information</h3>
          </div>                                                                                                                                                                                                                                                                  
          <div id="gen-row" class="row">
            <h6 class="col-sm-12 col-lg-6 col-md-6">Curriculum Language</h6> <p class="col-sm-12 col-lg-6 col-md-6">{{profile.school_curriculum}}</p>
            <h6 class="col-sm-12 col-lg-6 col-md-6">School Fees Range</h6> <p class="col-sm-12 col-lg-6 col-md-6">{{profile.school_fees_range}}</p>
            <h6 class="col-sm-12 col-lg-6 col-md-6">Gender</h6> <p class="col-sm-12 col-lg-6 col-md-6">{{profile.school_gender}}</p>
            <h6 class="col-sm-12 col-lg-6 col-md-6">Date Established</h6> <p class="col-sm-12 col-lg-6 col-md-6">{{date_established}}</p> 
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div id="advantage">
          <h3>Our Advantage</h3>
          <p id="advantage-txt">{{profile.competitive_advantage}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div id="media">
          <h3>School In Picture</h3>
          <div id="gallery" *ngFor="let pic of profile.gallery">
            <img [src]="pic.picture">
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <div id="contact">  
          <h3 id="contatct-title">
            <em>Our Contact Detail</em>
          </h3>
          <div id="address">
            <p> <i class="glyphicon glyphicon-earphone"></i>{{profile.school_phone_number}}</p>
            <p id="add" >{{profile.school_address}} {{profile.school_state}}</p>
            <p>{{profile.school_email}}</p>
          </div>
        </div>
        <div id="extra-detail">
          <div id="principal-detail" *ngIf="profile.principal_detail.principal_name">
            <div class="row">
              <div id="dp">
                <img [src]="profile?.principal_detail?.display_image">
              </div>
              <div id="data">
                <h3> For More Enquiries </h3>
                <p id="principal-name"><b>{{profile?.principal_detail?.principal_name}}</b></p>
                <p id="principal-name"><em>{{profile?.principal_detail?.post_held}}</em></p>
                <p id="principal-name">{{profile?.principal_detail?.phone_number}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div id="facilities">
          <h3> Our Facilities </h3>
          <p id="facilities"> {{profile.school_facilities}}</p>
        </div>
        <hr>
        <div id="level">
          <h3>Educational Scoop</h3>
          <p>{{profile.school_level}}</p>
        </div>
        <hr>
        <div id="type">
          <h3>Living Facility</h3>
          <p>{{profile.school_type}}</p>
        </div>
        <hr>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div id="media">
          <h3> Intro Video</h3>
          <div id="vide" *ngFor="let vid of profile.school_video">
            <video height="80%"  width="90%"  controls>
              <source [src]="vid.intro_video" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <h3>Sporting Activitiies</h3>
        <p id="sport">{{profile.extra_curriculum_activities}}
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div id="club">
          <h3>School Clubs </h3>
          <p>{{profile.school_clubs}}</p>
        </div><hr>
        <div id="awards">
          <h3>Awards </h3>
          <p>{{profile.awards_won}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <app-enquiry></app-enquiry>
      </div>
    </div>
  </div>
<body>
<app-my-footer></app-my-footer>