<div class="chart-container" style="position: relative; height:35vh; width:60vw" >
    
    <canvas   baseChart
        [data]="barChartData"
        [labels]="barChartLabels"
        [legend] ='barChartLengend'
        [options]="barChartOptions"
        [chartType]="barChartType">
</canvas>
</div>