<app-my-sidebar></app-my-sidebar>

<div id="container" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <form #galleryForm='ngForm' (change)="onChange($event)" (ngSubmit)="createGallery(imageForm.value)">
        <div  id="form-div" class="form-group">
          <input type="file" accept="image/*" class="form-control" [(ngModel)]="imageForm.piture" name="picture" id="img">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="submit">
        </div>
      </form>
    </div>
    <div id='preview' class="col-sm-12 col-md-12 col-lg-8" *ngIf="imgUrl && imgUrl !== '' ">
      <img [src]="imgUrl" [alt]="imageForm.value.name">
    </div>
  </div>
</div>