@media (max-width:400px) {
    #container{
        width: 100%;
        margin: -140% 20% 0% 10% ;
    }

    #preview img{
        height: 70%;
        width: 70%;
    }       
    

}


@media (min-width:401px){
    #container{
        width: 100%;
        margin: -110% 10% 0% 40% !important;
    }

    #preview img{
        height: 70%;
        width: 70%;
    }
}

@media (min-width:800px){
    #container{
        width: 100%;
        margin: -80% 10% 0% 30% !important;
    }


    #preview img{
        height: 70%;
        width: 70%;
    }
}

@media (min-width:1000px){
    #container{
        width: 100%;
        margin: -30% 10% 0% 30% !important;
    }
    

    #preview img{
        height: 70%;
        width: 70%;
    }
}
