body {
  overflow-x: hidden;
}
      
#navbarSupportedContent{
  display: flex;
} 
#navbarSupportedContent img{
  width: 70px;
  height: 70px;
}
#navbarSupportedContent h3{
  margin: 2% 0% 1% 0%;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
      
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
      
#sidebar-wrapper .list-group {
  width: 15rem;
}
      
#page-content-wrapper {
  min-width: 100vw;
}
      
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
      
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
   #navbarSupportedContent{
    display: flex;
    margin-left: 5%;
  } 
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .show{
    margin-left: 0!important;
  }
  #navbarSupportedContent{
    margin-right: 15%;
    
  }  

  .hide{
    margin-left: -15rem!important;
    }
}
@media (max-width: 767px) {
  .show{
    margin-left: -15rem!important;
  }

  #navbarSupportedContent{
    margin-right: 10%;
    
  }  
  .hide{
    margin-left: -0!important;
  }
  
}

