<app-my-sidebar></app-my-sidebar>

<div  class="container" id="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <form #uploadForm="ngForm" (change)="onChange($event)" (ngSubmit)="uploadVideo(uploadForm.value)">
        <div class="form-group">
          <input class="form-control" [(ngModel)]="videoUploadForm.intro_video" name="intro_video" type="file">
        </div>
        <div>
          <input type="submit" class="btn btn-success" value="Submit" >
        </div>
      </form>
    </div>
    <div id="preview" class="col-sm-12 col-md-12 col-lg-4">
     
    </div>
  </div>

</div>