* {box-sizing: border-box;}
@media(max-width:799px){
  #formdiv{
    margin: 5% 1% 10% 10%;
    display: flex;
    flex-direction: column;
  }
}
@media(min-width:800px){
  #formdiv{
    margin: 5% 1% 10% 10%;
    display: flex;
    flex-direction: row;
  }
}


h2{
  margin: 10% 1% 0% 15% ;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: green;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

#tw-icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color:#00acee ;
  margin: 0% 2% 0% 2%;
  padding: 3%;
  border-radius: 50%; 
}
#socials{
  margin-left: 40%;
  width: 100%;
}

#sign-p{
  margin-left: 45%;
  font-size: 1.1em;
  font-family: cursive;
}
#forgot{
  margin:0% 0% 10% 60%;
  font-size: 1.1em;
  font-family: cursive;
}
#fb-icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color:#3b5998 ;
  margin: 0% 2% 0% 2%;
  border-radius: 50%; 
  padding: 3%;
}