<section id="myform" class="container">
  <div id="formdiv" class="row"> 
    <h3> Kindly Sign Up To Create A Profile For Your School</h3>
    <div id="rite" class="col-lg-6 col-sm-12 col-md-6">
      
    </div>
  </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
  <div id="left" class="col-lg-6 col-sm-12 col-md-6">
    <span id="sign-txt"><p id="sign-p">already signed up? <a routerLink="/account/login" >Login</a></span>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="input-container">
        <i class="fa fa-user icon"></i>           
        <input class="input-field" type="text" formControlName="username" placeholder="pick a username">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
      </div><br>
      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input type="email" class="input-field" formControlName="email" placeholder="valid school admin email address">
      </div><br>
      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input type="password" class="input-field" formControlName="password" placeholder="pick a password">
      </div><br> 
      <div>
        <input type="submit" class="btn btn-maroon" value="Proceed">
      </div><br>
    </form>
   
    <div id="socials">
      <span>Continue with</span>
        <span id="tw-icon">
          <a routerLink="">
            <span class="fa fa-twitter"></span>
          </a>
        </span>
        <span>or</span>
        <span id="fb-icon">
          <a routerLink="">
            <span class="fa fa-facebook"></span>
          </a>
        </span>
    </div>
  </div>
  
    
</section>