ngb-rating {
    color: #FFC107;
    font-size: 40px;
}

.rating{
    display: flex;
}
.rating label{
    margin: 3% 5% 0% 10%;
    font-size: 2em;
}

label{
    color: rgba(200, 200, 200, 0.6);
    margin-left: 10%;
}

input, textarea{
    width: 80%;
    margin:1% 10% 5% 10%;
}
#container{
    margin: 5%;
    background-image: url('../../../assets/imgs/review1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#title{
    padding-top: 5%;
    text-align: center;
    color: rgba(200, 200, 200, 0.6);
}

@media(max-width:950px){
    .rating label{
    margin: 3% 5% 0% 5%;
    font-size: 1.8em;
}
#rating{
    font-size: 2.3em;
    margin: 1% 5% 0% 0%;

}

}