<div id="container">
  <h3 id="title"> School Review Form</h3>
  <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input ng-untouched ng-pristine ng-valid class="form-control" id="name" placeholder="Full Name" name="name" [(ngModel)]="reviewForm.name">
    </div>
   
    <div class="form-group rating" id="edu">
      <label for="rating">Rating?</label>
      <ngb-rating [max]="5" [(rate)]="starRating" id="rating" name='rating' 
         [(ngModel)]='reviewForm.rating' [readonly]="false">
      </ngb-rating>
    </div>
    <div class="form-group">
      <label for="review">Extra Information</label>
      <textarea name="review" cols="8" rows="10" [(ngModel)]="reviewForm.review" placeholder="Your Review Here" class="form-control"
       ng-untouched ng-pristine ng-valid></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="submit" [disabled]="!reviewForm.form.valid" class="btn btn-success">
    </div>
    
  </form>
</div>