<form #resetPsedForm=ngForm (ngSubmit)="onSubbmit(resetPsedForm.value)">
  <div class="form-group">
    <label form="email">Email:</label>
    <input type="email" class="form-control" name="email" placeholder="abc@xyz.com" 
      [(ngModel)]="restPasswordForm.email" id="email">
  </div>
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-success">
  </div>
</form>