<div class="container">
  <div class="row">
    <form #form="ngForm" class="col-10" (click)="onSubmit(form.value)" >
      <div class="form-group">
        <label for="name">Cardholder Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Names As Shown Card" id="name" [(ngModel)]="paymentForm.name">
      </div>
      <div class="form-group">
        <label for="card_number">Card Number:</label>
        <input type="text" class="form-control" placeholder="16 digit Card Number" name="card_number" id="card_number" [(ngModel)]="paymentForm.card_number">
      </div>
      <div class="form-group">
        <label for="cvc">CVC:</label>
        <input type="password" class="form-control" name="cvc" id="cvc" [(ngModel)]="paymentForm.cvc">
      </div>
      <div class="form-group">
        <label for="expiry_date">Expiry Date:</label>
        <input type="text" class="form-control" name="expiry_date" placeholder="MM/YY" id="expiry_date" [(ngModel)]="paymentForm.expiry_date">
      </div>

      <div>
        <input type="submit" value="Make Payement" class="btn btn-success" >
      </div>
    </form>
  </div>
</div>