<app-navbar></app-navbar>
<div id="content" class="container"> 
  <div  class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <img id="badge" [src]="school?.school_badge">
        </div>
        <div id="school-name" class="col-9">
          <h2>{{school?.school_name}}</h2>
          <h6> {{school?.school_motto}}</h6>
        </div>
      </div>
    </div>
      <div id="navs">
        <p><a routerLink="">PROFILE</a></p>
        <p ><a routerLink="'school-gallery'">  GALLERY </a></p>
        <p><a routerLink="school-reviews"> REVIEWS</a></p>
      </div>
      <hr>

    </div>

  <div class="row">
    <div class="col-9"  id="" *ngFor="let pic of school.gallery">
      <img id="gallery" [src]="pic.picture">
    </div>
  </div>
</div>