@media(max-width:500px) {
    #container{
        margin: -170% 5% 0% 15% !important;
    }
    img {
        height: 150px;
        width: 150px;
    }
    #school_name{
        margin: 2% 0% 0% 2%;
    }

    #choice{
        text-align: center;
        margin: 2% 0% 0% -40% !important ;
        font-size: 1.3em;
    }    
    td p{
        font-size: 0.8em;
    }
    #basic, #premium p{
        padding: 3.5% 3.5% 1% 3.5%;
        line-height: 25px;
        text-align: justify;
    }
    
    button{
        margin-top: 5%;
        font-size: 0.7em;
    }
}


img {
    height: 150px;
    width: 150px;
}
#school_name{
    margin: 2% 0% 0% 2%;
}

#choice{
    text-align: center;
    margin: 2% 0% 0% 0% ;
}

#basic, #premium p{
    padding: 3.5% 3.5% 1% 3.5%;
    line-height: 25px;
    text-align: justify;
}

#basic, #premium{
    width: 80%;
    margin: 5% 0% 5% 0% !important;
}
 

#basic, #premium{
    background-color: cadetblue;
}



tr:nth-child(even) {
    max-width: 100%;
  background-color: #f2f2f2;
}

@media (min-width:501px) {
    #container{
        margin: -120% -5% 0% 30% !important;
    }
    img {
        margin-left: 5%;
        height: 150px;
        width: 150px;
    }
    #school_name{
        margin: 2% 0% 0% 2%;
    }

    #choice{
        text-align: center;
        margin: 2% 0% 0% -40% !important ;
        font-size: 1.3em;
    }    
    td p{
        font-size: 0.8em;
    }
    #basic, #premium p{
        padding: 3.5% 3.5% 1% 3.5%;
        line-height: 25px;
        text-align: justify;
    }
    #premium{
        margin-left: -12% !important;
    }
    
    button{
        margin-top: 5%;
        font-size: 0.7em;
    }


    table{
        margin: 5%;
        width: 70%;
        border: 1px solid #ddd;

    }
}


@media (min-width:1000px) {
    #container{
        margin: -35% 10% 0% 25% !important;
    }
    
    .plan{
        width: 750px;
        height: 60px;
    }
        table, td, th,tr{
        border-spacing: 15%;
        margin: 3%;
    }
    td{
        width: 100%;
        white-space: nowrap; 
    }
    td p{
        padding: 5%;
    }

    table{
    margin: 5%;
        width: 100%;
        border: 1px solid #ddd;

    }
    button{
        margin-top: 5%;
    }
}