<app-my-sidebar></app-my-sidebar>

<div id="container" class="container">
  <div class="row">
    <div class="co-lg-3 col-sm-12 col-md-3">
      <img [src]="badge">
    </div>
    <div id="school_name" class="co-lg-8 col-sm-12 col-md-8">
      <h3 >{{school_name}}</h3>
    </div>
  </div>
  <div class="col-12">
    <h3  id="choice"> Choose a Suitable Plan For Your School</h3>
  </div>
  <div class="row plan">
    <div class="col-lg-4 col-md-2 col-sm-12">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3> Basic Plan</h3>
      <div id="basic">
        <p> Idea for schools that want to have online presence, Inquiries and some form of social media marketing </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3> Premium Plan</h3>
      <div id="premium">
        <p>
          Ideal for schools that want to have brand management,, online presence, Inquiries & social media marketing
        </p>  
    </div>
  </div>
  <table class="table-responive table-striped">
    <tr></tr>
    <tr>
      <div class="row">
        <div class="col-5">
          <td ><p class="txt">Price</p></td>
        </div>
        <div class="col-4">
          <td ><p class="txt">N120,000.00</p></td>
        </div>
        <div class="col-3 ">
          <td ><p>N200,000.00</p></td>
        </div>
      </div>
    </tr>
    <tr>
      <div id="row" class="row">
        <div class="col-5">
          <td class="td-title"><p>Validity </p></td>
        </div>
        <div class="col-4">
          <td class="td-data"><p>1 Year</p></td>
        </div>
        <div class="col-3 ">
        <td class="td-data"><p>1 Year</p></td>
        </div>
      </div>
    </tr>
    <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td ><p>Slot per Zone/Town</p></td>
        </div>
        <div class="col-4">
          <td ><p>Yes</p></td>
        </div>
        <div class="col-3">
          <td ><p>Yes</p></td>
        </div>
      </div>
    </tr>
    
    <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td ><p>Search Scope</p></td>
        </div>
        <div class="col-4">
          <td ><p>Yes</p></td>
        </div>
        <div class="col-3">
          <td ><p>Yes</p></td>
        </div>
      </div>
    </tr>
      
    <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td class="td-title"><p>Print Media Mention</p></td>
        </div>
        <div class="col-4">
          <td class="td-data"><p>Yes</p></td>
        </div>
        <div class="col-3">
          <td class="td-data"><p>Yes</p></td>
        </div>
      </div>
    </tr>

    <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td class="td-title"><p>Video on School Page</p></td>
        </div>
        <div class="col-4">
          <td class="td-data"><p>Yes</p></td>
        </div>
        <div class="col-3">
          <td class="td-data"><p>Yes</p></td>
        </div>
      </div>
    </tr>

    <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td class="td-title"><p>social Media Management</p></td>
        </div>
        <div class="col-4">
          <td class="td-data"><p>Yes</p></td>
        </div>
        <div class="col-3">
          <td class="td-data"><p>Yes</p></td>
        </div>
      </div>
    </tr>

    <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td class="td-title"><p>social Media Management</p></td>
        </div>
        <div class="col-4">
          <td class="td-data"><p>No</p></td>
        </div>
        <div class="col-3">
          <td class="td-data"><p>Yes</p></td>
        </div>
      </div>
    </tr>
        
    <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td class="td-title"><p>Brand Promotion & Management</p></td>
        </div>
        <div class="col-4">
          <td class="td-data"><p>No</p></td>
        </div>
        <div class="col-3">
          <td class="td-data"><p>Yes</p></td>
        </div>
      </div>
    </tr>

    <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td class="td-title"><p>Link to School Website</p></td>
        </div>
        <div class="col-4">
          <td class="td-data"><p>No</p></td>
        </div>
        <div class="col-3">
          <td class="td-data"><p>Yes</p></td>
        </div>
      </div>
    </tr>

     <tr>
      <div class="row" id="row">
        <div class="col-5">
          <td ><p>Enquirer's Telephone Number Reveal</p></td>
        </div>
        <div class="col-4">
          <td ><p>Yes</p></td>
        </div>
        <div class="col-3">
          <td ><p>Yes</p></td>
        </div>
      </div>
    </tr>

    <tr>
      <div class="row" id="row">
        <div class="col-4"></div>
        <div class="col-4">
          <button class="btn btn-success" routerLink="/school/payment-page">Select Plan</button>
        </div>
        <div class="col-4">
          <button class="btn btn-success " routerLink="/school/payment-page">Select Plan</button>
        </div>
      </div>
    </tr>
  </table>
</div>
