<div class="container">
  
  <hr>
  <h3> Rating By Parents </h3>
  <div id="loop" *ngFor="let review of reviews">
    <div class="row">
        <div class="col-10" id="review" >
        <span>
            <p> {{review.review}}</p>
        </span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="offset-8 ">
            {{review.name}}
        </div>
    </div>
  </div>
</div>