<section class="container" id="profilepage">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
    <div id="header">
      <span id="profile"><h2> School Profile Form!! </h2></span>
      <p id="profile-txt">Kindly Fill The Form Below So We Can Know Your School More</p>
    </div>
    <form *ngIf="profileForm" [formGroup]="profileForm" (ngSubmit)="createProfile()">
      <div class="form-group col-lg-12 col-sm-12 col-md-12">
        <label for="school_name"> School Name:</label><br>
        <input type="text" id="schoolName"  class="form-control" formControlName="school_name" placeholder="Enter Your School Name"><br>
      </div>
     
      <div class="form-row">
        <div class="form-group col-lg-6 col-sm-12 col-md-6">
           <!--<app-img-upload formControlName="badge" ></app-img-upload>-->
           <label for="badge">School Badge</label>
           <input type="file" (change)="onChange($event)" formControlName="school_badge" id="badge">
        </div>                                                                                                                                    
        <div class="form-group col-lg-6 col-sm-12 col-md-6">
          <label for="school_motto">School Motto:</label><br>
          <input type="text" class="form-control" formControlName="school_motto" placeholder="Enter school Motto...."><br>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-4 col-sm-12 col-md-4">                                                                                                                                  
          <label for="school_email">Email Address: </label><br>
          <input type="email" id="school_email" class="form-control" formControlName="school_email" placeholder="Valid School email address">
        </div>
        <div class="form-group col-lg-4 col-sm-12 col-md-4">                                                                
          <label for="school_website">Website: </label><br>
          <input type="text" id="school_website" class="form-control" formControlName="school_website" placeholder="School offical  website (if any)">
        </div>
        <div class="form-group col-lg-4 col-sm-12 col-md-4">
          <label for="school_tel">Phone Number: </label><br>
          <input type="tel" id="school_tel" formControlName="school_phone_number" class="form-control" placeholder="offical School Phone Number">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-4 col-sm-12 col-md-4">
          <label for="school_fees">School Fees Range</label><br>
          <select  formControlName="school_fees_range" id="school_fees" class="form-control">
            <option *ngFor="let fee of fees_range">{{fee}}</option>
          </select>
        </div>
        <div class="form-group col-md-4 col-sm-12 col-lg-4 col-xl-4">
          <label for="date_established">Date Established</label><br>
          <input type="date" class="form-control" formControlName="date_established" (changeDate)=modifyDate($event) id="date_established">
        </div>
        <div class="form-group col-lg-4 col-sm-12 col-md-4">
          <div id="gender"  class="row">
            <legend class=" col-form-label col-sm-5 col-lg-6 col-md-6">School Gender</legend>
            <div id="choice" class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-check">
                <input class="form-check-input" formControlName="school_gender" name="school_gender" type="radio" value="Mixed" id="mixed" >
                <label class="form-check-label" for="mixed">Mixed</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="school_gender" formControlName="school_gender" id="male" value="Male">
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="school_gender" id="female" formControlName="school_gender" value="Female" >
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="form-row">
        
        <div class="form-group col-lg-6 col-sm-12 col-md-6">
          <label for="school_type">School Type:</label><br>
          <select formControlName="school_type" id="school_type" class="form-control">
            <option>Both</option>
            <option>Boarding</option>
            <option>Day</option>
         </select>
        </div>
        <div class="form-group col-lg-6 col-sm-12 col-md-6">
          <label for="school_level">School Level:</label><br>
          <select  formControlName="school_level" id="school_level" class="form-control">
            <option>Primary</option>
            <option>Secondary</option>
            <option>Both</option>
         </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 col-md-6">
          <label for="address">School Address</label>
          <textarea class="form-control" rows="10" formControlName="school_address" placeholder="Enter complete School Address" id="address"></textarea>
        </div>
        <div class="col-sm-12 col-lg-6 col-md-6">
          <label for="extra_curriculum_activities"> Extra Curriculum Activities</label>
          <textarea class="form-control" rows="10" formControlName="extra_curriculum_activities" placeholder="Which Extra Curriculum Activities Do You Engage in e.g Football, Basketball etc"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-6 col-sm-12 col-md-6">
          <label for="school_state">State :</label><br>
          <input type="text" class="form-control" formControlName="school_state" placeholder="Enter the State school is located...."><br>
        </div>
        <div class="form-group col-lg-6 col-sm-12 col-md-6">
          <label for="school_curriculum">Curriculum :</label><br>
          <input type="text" formControlName="school_curriculum" class="form-control" placeholder="state the Curriculum Your school  operate with e.g Bristish, French etc"><br>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12-col-lg-6 col-xl-6">
          <label for="competitive_advantage">Competitive Advantage</label><br>
          <textarea class="form-control" rows="10" placeholder="What parents stand to gain"  id="competitive_advantage" formControlName="competitive_advantage"></textarea>
        </div>
        <div class="form-group col-lg-6 col-sm-12 col-md-6 col-xl-6">
          <label for="awards">Awards Won</label><br>
          <textarea class="form-control" rows="10" placeholder="list of Archievment, Awards Won" formControlName="awards_won"></textarea>
        </div>
      </div>
       <div class="form-row">
        <div class="form-group col-lg-6 col-sm-12 col-md-6 col-xl-6">
          <label for="school_facilities">School Facilities </label><br>
          <textarea class="form-control" id="school_facilities" rows="10" placeholder="list of Facilities available in school eg science Lab, Sport center etc" formControlName="school_facilities"></textarea>
        </div>
        <div class="form-group col-lg-6 col-sm-12 col-md-6 col-xl-6">
          <label for="school_clubs">Social Clubs</label>
          <textarea class="form-control" id="clubs" rows="10" placeholder="list of Clubs, in Your school eg, Jet club, Debate club etc" formControlName="school_clubs"></textarea>
        </div>
      </div>
      <div>
        <input class="btn btn-success" value="Submit" type="submit">
      </div>
    </form>
  </div>
</section>