<div class="container">
  <div class="row"  >
    <div id="list" *ngFor="let school of schoolsProfile">
      <a routerLink="school-detail/{{school.id}}"><img src="{{school.school_badge}}"></a>
    </div>                                                                                   
  </div>
</div>