@media (max-width:500px) {
     a{
        text-align: center;
    }    

    #list{
        padding: 3% 10% 0% 15% !important ;
    }
}

#list{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0% 1% 1% 0%  ;
}

img{
    margin: 5%;
    height: 220px;
    width: 220px;
    border: 1.5px solid black;

}
