


@media (max-width:500px) {
  #benefit{
    margin: 1%;
  }  
  #search-form{
  width: 70%;
}

  form{
  margin:0% 0% 5% 0% !important;
}
}
#header-bg{
  background-image: url('../../../assets/imgs/bg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;  
}

#p-txt{
  width: 100%;
  padding: 2%;
}
#p-txt p, #s-txt p{
  text-align: justify;
  margin:0%  2%;
  line-height: 30px;
}

#p-header, #s-header{
  margin: 4% 1% 0% 1% ;
  text-align: center;
}

#search-header{
  color: rgba(0, 0, 0.3, 0.7);
  padding: 5%  5% 5% 10%;
  text-align: center;

}

#search-txt{
  text-align: center;
  color:rgba(0, 0, 0.3, 0.8);
  font-weight: bolder;
  font-size: large
}

#search-form{
 margin: 0% 10% 0% 10% ;
 padding-bottom: 3%;
}                                                                                                                         


form{
  margin:0% 0% 10% 0%;
}

#sch-title{
  text-align: center;
  margin: 5%;

}



#parent-img img{
  width:100%;
  height: 60%;
}

#sch-img img{
  width:100%;
  height: 60%;
}
#search-form{
  width: 40%;
  margin: 0% 20% 5% 20%;
}