<app-navbar></app-navbar>
<body>
  <section id="header">
    <div id="header-bg"> 
      <div id="search">
        <h1  id="search-header">THERE IS NO PERFECT SCHOOL, BUT YOU CAN FIND AN IDEA SCHOOL </h1>
        <p id="search-txt">Search our comprehensive list of schools based on the criteria that matters most</p>
        <div id='search-form'>
          <div class="input-group">
            <ng-select [items]="response | async"
              bindLabel = "Search"
              bindValue="id"
              [(ngModel)]="newSearchField"
              [editableSearchTerm]="true">
            </ng-select>
            
          </div>
          
          <!--
           

            <ng-container *ngIf="response['Response'] == 'False'; else elseTemplate">
        <div class="col-12>">
          <span class="alert alert-danger" role="alert">
            {{response['Error']}}
          </span>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="col-8" *ngFor="let school of response">
          <div id="sch">
            {{school.school_name}}
          </div>
        </div>
      </ng-template>
          -->
          
        </div>
      </div>
       
    </div>
  </section>
  <section id="school-list">
    <div id="schools">
      <h3 id="sch-title"> AVAILABLE SCHOOLS </h3>
    <app-school-list></app-school-list>

    </div>
  </section>

  <div id="benefit" class="container">
    <div class="row">
      <div id="parent-benefit" class="col-lg-6 col-md-6 col-sm-12 col-xl-6">
        <div id="parent-img">
          <img src="../../../assets/imgs/p3.jpg">
        </div>
        <h2 id="p-header"> Benefits for Parents</h2> 
        <div id="p-txt">
          <p>
            Parents can have a feel of the school the want send their children to, as this platform will offer Parents they chance to 
            have a virtual tour of each schools registered and hence having sense of what these school are like and how well their children will fit in 
          </p>
          <p>
            Parents can compare schooling available using different  criterias and hence they will find theirseveles in better position on deciding on 
            the school(s) the want for their children
          </p>
          <p>
            Parents can easily contact any school of their choice without having to going to the school
          </p>
        </div>
      </div>
      <div id="sch-benefit" class="col-lg-6 col-md-6 col-sm-12 col-xl-6">
        <div id="sch-img">
          <img src="../../../assets/imgs/t1.jpeg">
        </div>
        <h2 id="s-header"> Benefits for Schools</h2>
        <div id="s-txt">
          <p>
            School get to have their Profile displayed and Seen by anyone who visits the website, hence creating a form of awareness 
            in minds of Parents about their existence
          </p>
          <p>
            School get rated by Parents/Guardians thereby offering them a chance to be aware of their strength and weakness and help them improve on those weakness
            while also improving on their strength
          </p>
        
        </div> 
      </div>
    </div>
  </div>

</body>
<app-my-footer></app-my-footer>   