#container{
    margin: 5%;
    background-image: url('../../../assets/imgs/Form-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

input, select,textarea{
    width: 80%;
    margin:1% 10% 5% 10%;

}
label{
    color: rgba(255, 255, 255, 0.9);
    margin-left: 10%;
    font-size: 1.1em;
    font-weight: bold;
}

h3{
    color: rgba(255, 255, 250, 0.9);
    text-align: center;
    padding: 3% ;
    font-weight: bolder;
    font-size: 2.2em;
}