<div id="container">
  <h3> Enquiry Form</h3>
  <form  [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="subject">Subject</label>
      <select formControlName="subject" class="form-control ng-untouched ng-pristine ng-valid">
        <option *ngFor="let val of subject" id="subject"  placeholder="Subject">{{val}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="contact_email">Contact Email</label>
      <input type="email" placeholder="your Email Address" class="form-control ng-untouched ng-pristine ng-valid" 
      id="contact_email" formControlName="contact_email">
    </div>
    <div class="form-group">
      <label for="comment">Your Enquiry</label>
      <textarea class="form-control ng-untouched ng-pristine ng-valid" cols="4" 
        required rows="5" placeholder="your enquiry here ....." formControlName="body" ></textarea>
    </div>
    <div class="form-group">
      <input  type="submit" value="send" class="btn btn-success">
    </div>
  </form>
</div>