<div class="container">
  <div class="row">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="password" id="new_password" formControlName="password" 
           class="form-control">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" formControlName="confirm_password" 
          class="form-control">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success">
      </div>
    </form>
  </div>
</div>